*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #f8f2f2;
    width: 100%;
    height: 100vh;
}

.navbar{
    justify-content: space-around;
    align-items: center;
    overflow-y: hidden;
    height: 12vh;
    bottom: 5px;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    opacity: 0.3;
    color: #000;
    animation: move 1s ease-in-out;
    position: relative;
}

.logo-assist{
    background-color: orange;
    border-radius: 100%;
    opacity: 0.7;
    margin-left: 50px;
}
.logo-assist:hover{
    opacity: 0.9;
}
.navbar ul{
    padding: 40px;

}
.navbar ul li{
    
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}
.navbar ul li a{
    gap: 100px;

    text-decoration: none;
    color: #000;
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;

    
} 

 

.navbar:hover{
    background-color: #f8f2f2;
    opacity: 0.7;
}
.navbar ul li a:active{
    text-decoration: 2px solid orangered overline;
    bottom: -5px;
}


.user-account-info{
    width: 40px;
    height: 6vh;
    background-color: #ec8989;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 500;
    color: #000;
}

@keyframes move {
    from{
        transform: translateY(-100%);
        background-color: white;
        opacity: 0.3;
    }
    to{

        transform: translateY(0);
        background-color:  #e1bcbc;
    }
    
}

